<div class="apropos-page">

  <div class="apropos-title">
    <h1>QUI EST PEPER ?</h1>
  </div>

  <div class="section-apropos">

    <div class="peper-introduction">
        <span>
            <img src="/assets/Peper-cutting.png"/>
        </span>
        <div class="peper-introduction-text">
            <h3>Péper, le créateur</h3>
            <p>Je m’appelle Péper. J’adore inventer, dessiner, coller, photographier, rêver… et surtout partager tout ça avec mes amis. Un jour, on a construit ensemble une petite cabane, qu’on a baptisée “Péper Tree”. C’est devenu notre repaire : le vendredi soir après le travail, le samedi après une balade, ou même le dimanche juste pour ne rien faire. On y rit, on y papote, on boit du thé ou du bubble tea, et parfois, on reste juste assis à écouter le bruit du vent dans les feuilles.</p>
        </div>
    </div>

    <div class="amis-histoires">
        <img src="/assets/pepertree-friends.png"/>
        <h3>Amis et histoires</h3>
        <p>Au fil de nos discussions, mes amis m’ont encouragé à créer quelque chose qui capture ces instants. Alors j’ai commencé à dessiner nos visages, nos humeurs et nos délires sous forme de stickers. Chaque petit dessin est un morceau de notre univers : une touche de créativité, un brin d’humour tendre, et toujours un clin d’œil à nos passions et à nos moments préférés.</p>
    </div>

    <div class="boutique-intime">
        <span>
            <img src="/assets/Pepertree-cabane-stamp.png"/>
        </span>
        <div class="boutique-intime-text">
            <h3>Notre boutique intime</h3>
            <p>Péper Tree, ce n’est donc pas seulement une boutique : c’est un coin de notre cabane que j’ouvre pour vous. Un endroit où la créativité se mêle aux hobbies, où on prend soin de soi, où on célèbre les amitiés et les petits bonheurs de la vie. J’espère que mes créations vous feront sourire, rêver ou même vous donneront envie de créer à votre tour. Bienvenue dans notre arbre, vous êtes déjà un peu chez vous.</p>
        </div>    
    </div>

  </div>

 

</div>