h1 {
    text-align: center;
    color: var(--magenta);
    font-size: clamp(1.8rem, 1.2rem + 2vw, 2.6rem);
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
    justify-self: center;
}

.faq-section {
    padding: 0 10%;
    margin-bottom: 80px;
    text-align: justify;
}

.subtitle {
  color: var(--paper);
  border: 2px solid var(--turquoise);
  padding: 6px;
  margin-bottom: 0;
  margin-top: 80px;
  text-align: center;
  background-color: var(--turquoise);
}

.faq-details {
  border-bottom: 1px solid var(--turquoise);
  padding: 16px 0;
}

.faq-summary {
  cursor: pointer;
  font-weight: bold;
  color: var(--violet);
  text-align: start;
}

.faq-p {
  margin-top: 20px;
  text-align: start;
}