<div class="thank-you-page">
    <h1 class="thank-you-title">MERCI pour ta demande!</h1>

    <div class="thank-you-content">
        <p>Ta demande de commande a bien été reçue.</p>
        <p>Je vais maintenant t’envoyer un petit email avec le lien pour effectuer ton paiement via PayPal – Biens et services.</p>
        <p>Dès que ton paiement sera reçu, je m’activerai pour préparer ton petit colis avec soin et te l’envoyer au plus vite. 📦✨</p>
        <p>Merci de soutenir PéperTree et ses petites créatures ! 🐾💜</p>

        <img src="assets/merci-pepertree.png" alt="Péper te remercie"/>
    </div>
</div>