<div class="contact-mail">
  <p>Envoie-moi tes questions par mail à : <b><a href="mailto:peper.atelier@gmail.com">peper.atelier@gmail.com</a></b> </p>
</div>




<!-- ====== BLOC 8 : Contact ====== -->
<!-- <section class="marquee-contact" aria-label="Infos défilantes">
  <div class="marquee-track">
    <span>Contact • Contacto • 聯絡 • Kenalan • Kontakte • ติดต่อ • Ota yhteyttä • 연락하다 • Kontakt • Darempred • Cuir fios • Contatto • Contactus • اتصال • Contato • </span>
    <span>Contact • Contacto • 聯絡 • Kenalan • Kontakte • ติดต่อ • Ota yhteyttä • 연락하다 • Kontakt • Darempred • Cuir fios • Contatto • Contactus • اتصال • Contato • </span>
  </div>
</section>

<section class="contact">
  <app-contact-form></app-contact-form>
</section> -->