<!-- ====== BLOC 8 : FAQ ====== -->
<div class="faq-section">
    <h1>FAQ</h1>
    <div>
      <div>
        <h3>Comment commander</h3>
        <p>Pour commander, c’est tout simple. Note les références (ex : MA01) ou les noms des produits que tu veux, ajoute ton nom, prénom et ton adresse de livraison — ou dis-moi si tu préfères une remise en main propre. 
          <br>Puis envoie-moi tout ça par mail à : <b><a href="mailto:peper.atelier@gmail.com">peper.atelier@gmail.com</a></b> 💌✨
        </p>
      </div>
      
      <div>
        <h3>Pourquoi ce système de commande</h3>
        <p>Comme c’est encore un tout petit atelier qui démarre doucement, je n’ai pas encore mis en place le système de paiement classique sur le site. 
          <br>En attendant, je passe par <b>PayPal – envoi d’argent</b>, qui me permet de gérer les commandes simplement et en toute sécurité. 
          <br>Mais promis, les paiements en ligne intégrés arrivent très bientôt ! ✨
        </p>
      </div>

      <div>
        <h3>Le déroulement d'une commande</h3>
        <p>Dès que je reçois ta commande, je t’envoie le total à régler via PayPal ainsi que l’adresse mail pour l’envoi d’argent à un proche. Une fois le paiement reçu, je prépare ton enveloppe avec beaucoup de douceur et je l’expédie rapidement en lettre simple.
          <br> Tu recevras un petit email à chaque étape 💌 (L’envoi n’est pas suivi, mais je te préviens dès qu’il s’envole vers toi 🌿)
        </p>
      </div>

      <div>
        <h3>Le suivi de la commande</h3>
        <p>Tu recevras un petit email à chaque étape 💌 (L’envoi n’est pas suivi, mais je te préviens dès qu’il s’envole vers toi.)
        </p>
      </div>

      <div>
        <h3>L’option de la remise en main propre</h3>
        <p>Si tu es de passage à Paris le week-end, tu peux choisir la remise en main propre — ça t’évite les frais d’envoi et ça me fait toujours plaisir.
          <br>Il suffit de me le préciser dans ton mail. Je te proposerai ensuite un créneau.
          <br>Les points de rendez-vous possibles :
          <br>✨ à la sortie du métro Châtelet–Les Halles, devant le Lego Store
          <br>✨ à la sortie du métro Porte d’Italie,
          <br>Simple, doux… et en vrai, c’est encore plus sympa 💕
        </p>
      </div>

      <div>
        <h3>Le paiement </h3>
        <p>Le paiement se fait uniquement via <b>PayPal – envoi d’argent à un proche</b>, que ce soit pour un envoi postal ou une remise en main propre. C’est le système le plus simple pour mon petit atelier en démarrage ✨ Merci pour ta douceur et ton soutien 🌿
        </p>
      </div>

      <div class="last-question-faq">
        <p>Pour toute autre question concernant ta commande ou réclamation, envoie-moi un mail à : <b><a href="mailto:peper.atelier@gmail.com">peper.atelier@gmail.com</a></b> </p>
      </div>
    </div>
</div>


<!-- ====== BLOC 8 : Contact ====== -->
<!-- <section class="marquee-contact" aria-label="Infos défilantes">
  <div class="marquee-track">
    <span>Contact • Contacto • 聯絡 • Kenalan • Kontakte • ติดต่อ • Ota yhteyttä • 연락하다 • Kontakt • Darempred • Cuir fios • Contatto • Contactus • اتصال • Contato • </span>
    <span>Contact • Contacto • 聯絡 • Kenalan • Kontakte • ติดต่อ • Ota yhteyttä • 연락하다 • Kontakt • Darempred • Cuir fios • Contatto • Contactus • اتصال • Contato • </span>
  </div>
</section>

<section class="contact">
  <app-contact-form></app-contact-form>
</section> -->