<div class="journal-title">
    <h1>Notre journal</h1>
</div>

<div class="articles-group">
    <div class="article-card">
        <img src="/assets/1.jpg"/>
        <p class="article-date">01/07/2025</p>
        <p>
            Sortie bubble tea afterwork avec ma copine ! J’adore les boissons au pastèque de @yifangtea.fr 💜💜 Mon préféré est le (j’arrête pas d’écorcher son nom quand je commande car il est trop longue!! 🥲) #pastèque au lait de coco et perles de sagou 🍉🧋👍Rien que pour ça, j’aime l’été ☺️
            <br>——
            <br>Afterwork bubble tea with my partner in sip 👯‍♀️🧋 Shoutout to YiFang for the watermelon coconut milk with sago pearls 🍉🥥✨Yes, that drink with the name longer than my patience when thirsty 😅 I mess it up every time I order — but it’s my summer ride-or-die 💜
        </p>
    </div>

    <div class="article-card">
        <img src="/assets/2.jpg"/>
        <p class="article-date">02/07/2025</p>
        <p>
            C’est censé être l’été… non ? Je suis toujours là, à attendre le soleil avec mon thé glacé. Et vous, vous faites quoi quand il pleut non-stop ? ☔🫖👇
            <br>——-
            <br>Is it really still summer? I’ve been waiting for the sun with my iced tea all day… Got any good rainy day ideas? 👇🌧️
        </p>
    </div>

    <div class="article-card">
        <img src="/assets/3-1.jpg"/>
        <p class="article-date">03/07/2025</p>
        <p>
            Visite de musée ✔
            <br>Contemplation existentielle ✔
            <br>Donut bleu fluo en guise de conclusion artistique ? … euh ✅
            <br>Myrtille dit que c’est la couleur du malaise. Moi je pense que c’est celle de la joie. Et si, au fond, l’art c’était juste un donut qui te regarde dans les yeux.
            <br>🎨 Et toi, c’était quoi ton moment d’art du jour ?
            <br>———
            <br>Museum visit? Check.
            <br>Existential thoughts? Check.
            <br>A blue donut as the final masterpiece? Obviously.
            <br>What’s your unexpected art moment lately?
        </p>
    </div>
</div>