<div class="product-page">

  <div class="boutique-title">
    <h1>BOUTIQUE</h1>
  </div>

  <section class="section-products">
    <div class="container">

      <div>
        <h3 class="comment-commander-title">Comment commander</h3>
        <p class="comment-commander-text">
          <b>Note les références (ex : MA01)</b> ou les noms des produits que tu veux, ajoute <b>ton nom, prénom et ton adresse de livraison</b> — ou dis-moi si tu préfères une remise en main propre. 
          Puis <b>envoie</b>-moi tout ça <b>par mail à : <a href="mailto:peper.atelier@gmail.com">peper.atelier&#64;gmail.com</a></b> 💌✨
        </p>
      </div>

      <div class="product-row">
        <div *ngFor="let item of productPeperTree; let i=index">
          <article class="product-card">
            <img
              src={{item.image}}
              alt="Produit PéperTree"
            />
            <h3>{{item.name}}</h3>
            <p class="price">€{{item.price}}</p>
            <!-- <button class="btn btn-buy" type="button">Ajouter au panier</button> -->
            </article>
        </div>
      </div>

    </div>
  </section>

</div>