@if (cart && cart.items.length > 0) {

    <h1 class="order-title">
        FINALISER MA COMMANDE
    </h1>

    <div class="order-container">

        <div class="order-summary">

            <p class="summary-title">Détails</p>

            @for (item of cart.items; track item.productId._id) {

                <div class="item">

                    <img
                        class="product-image"
                        [src]="item.productId.images[0].url"
                        [alt]="item.productId.images[0].alt"
                    />

                    <div class="item-details">

                        {{ item.productId.name }}

                        <div class="item-quantity-price-bloc">

                            <div class="item-quantity">
                                Quantité : {{ item.quantity }}
                            </div>

                            <div class="item-price">
                                € {{ item.productId.price | number:'1.2-2' }}
                                * {{ item.quantity }}
                            </div>

                        </div>

                    </div>

                </div>

            }

            <div class="product-costs-bloc">

                <div class="costs-title">
                    Total produits
                </div>

                <div class="costs-price">
                    € {{ getCartTotal() | number:'1.2-2' }}
                </div>

            </div>

            <div class="delivery-costs-bloc">

                <div class="costs-title">
                    Frais de port
                </div>

                <div class="costs-price">

                    @if (
                        !shippingMethod &&
                        selectedDelivery === 'mail_delivery'
                    ) {

                        En cours de calcul...

                    } @else if (getShippingCost() === 0) {

                        Gratuit

                    } @else {

                        + {{ getShippingCost() | number:'1.2-2' }} €

                    }

                </div>

            </div>

            <div class="grand-total-bloc">

                <div class="grand-total-title">
                    GRAND TOTAL
                </div>

                <div class="grand-total-price">
                    {{ (getCartTotal() + getShippingCost()) | number:'1.2-2' }}
                </div>
            
            </div>
        
        </div>

        

        <div class="client-information-delivery">

            <p class="summary-title">
                Mes informations
            </p>

            <!-- NAME -->

            <p class="input-title">
                Nom, Prénom
            </p>

            <input
                type="text"
                [(ngModel)]="customer.name"
                placeholder="Nom, Prénom"
                [class.input-error]="
                    formSubmitted &&
                    !customer.name
                "
            >

            @if (formSubmitted && !customer.name) {

                <p class="error-message">
                    Le nom et prénom est obligatoire.
                </p>

            }


            <!-- EMAIL -->

            <p class="input-title">
                Email
            </p>

            <input
                type="email"
                [(ngModel)]="customer.email"
                placeholder="Email"
                [class.input-error]="
                    formSubmitted &&
                    (
                        !customer.email ||
                        !isValidEmail(customer.email)
                    )
                "
            >

            @if (formSubmitted && !customer.email) {

                <p class="error-message">
                    L'email est obligatoire.
                </p>

            }

            @if (
                formSubmitted &&
                customer.email &&
                !isValidEmail(customer.email)
            ) {

                <p class="error-message">
                    L'adresse email n'est pas valide.
                </p>

            }


            <!-- TELEPHONE -->

            <p class="input-title">
                Téléphone
            </p>

            <input
                type="tel"
                [(ngModel)]="customer.telephone"
                placeholder="Téléphone"
                [class.input-error]="
                    formSubmitted &&
                    !customer.telephone
                "
            >

            @if (formSubmitted && !customer.telephone) {

                <p class="error-message">
                    Le numéro de téléphone est obligatoire.
                </p>

            }


            <!-- DELIVERY -->

            <p class="summary-title">
                Détails de livraison
            </p>

            <div class="delivery-summary">


                <!-- HAND DELIVERY -->

                @if (selectedDelivery === 'hand_delivery') {

                    <p>
                        Tu as choisi la remise en main propre.
                        Choisis maintenant le lieu où tu souhaites
                        récupérer ta commande :
                    </p>


                    <label class="delivery-option">

                        <input
                            type="radio"
                            name="delivery"
                            value="chatelet"
                            [(ngModel)]="delivery.pickupPoint"
                        >

                        <span>
                            Châtelet
                        </span>

                    </label>


                    <label class="delivery-option">

                        <input
                            type="radio"
                            name="delivery"
                            value="porte_italie"
                            [(ngModel)]="delivery.pickupPoint"
                        >

                        <span>
                            Porte d'Italie
                        </span>

                    </label>


                    <label class="delivery-option">

                        <input
                            type="radio"
                            name="delivery"
                            value="place_italie"
                            [(ngModel)]="delivery.pickupPoint"
                        >

                        <span>
                            Place d'Italie
                        </span>

                    </label>


                    <label class="delivery-option">

                        <input
                            type="radio"
                            name="delivery"
                            value="madeleine"
                            [(ngModel)]="delivery.pickupPoint"
                        >

                        <span>
                            Madeleine
                        </span>

                    </label>


                    @if (
                        formSubmitted &&
                        selectedDelivery === 'hand_delivery' &&
                        !delivery.pickupPoint
                    ) {

                        <p class="error-message">
                            Choisis un lieu de remise.
                        </p>

                    }

                }


                <!-- MAIL DELIVERY -->

                @if (selectedDelivery === 'mail_delivery') {

                    <p>
                        Tu as choisi la livraison chez toi.
                        Renseigne maintenant tes coordonnées
                        de livraison :
                    </p>


                    <!-- ADDRESS -->

                    <p class="input-title">
                        Adresse
                    </p>

                    <input
                        type="text"
                        [(ngModel)]="delivery.address"
                        placeholder="Adresse"
                        [class.input-error]="
                            formSubmitted &&
                            selectedDelivery === 'mail_delivery' &&
                            !delivery.address
                        "
                    >

                    @if (
                        formSubmitted &&
                        selectedDelivery === 'mail_delivery' &&
                        !delivery.address
                    ) {

                        <p class="error-message">
                            L'adresse est obligatoire.
                        </p>

                    }


                    <!-- APARTMENT -->

                    <p class="input-title">
                        N. d'appartement
                    </p>

                    <input
                        type="text"
                        [(ngModel)]="delivery.apartment"
                        placeholder="Appartement"
                    >


                    <!-- INTERCOM -->

                    <p class="input-title">
                        Interphone
                    </p>

                    <input
                        type="text"
                        [(ngModel)]="delivery.intercom"
                        placeholder="Interphone"
                    >


                    <!-- DOOR CODE -->

                    <p class="input-title">
                        Code porte
                    </p>

                    <input
                        type="text"
                        [(ngModel)]="delivery.doorCode"
                        placeholder="Code porte"
                    >


                    <!-- SHIPPING METHOD -->

                    <div class="shipping-choice">

                        <p class="summary-title">
                            Type d'envoi
                        </p>


                        <label class="delivery-option">

                            <input
                                type="radio"
                                name="shipping"
                                value="tracked"
                                [(ngModel)]="shippingMethod"
                                [class.radio-error]="
                                    formSubmitted &&
                                    !shippingMethod
                                "
                            >

                            <span>
                                Lettre Services Plus avec suivi
                            </span>

                        </label>


                        <label class="delivery-option">

                            <input
                                type="radio"
                                name="shipping"
                                value="untracked"
                                [(ngModel)]="shippingMethod"
                                [class.radio-error]="
                                    formSubmitted &&
                                    !shippingMethod
                                "
                            >

                            <span>
                                Lettre verte sans suivi
                            </span>

                        </label>


                        @if (
                            formSubmitted &&
                            !shippingMethod
                        ) {

                            <p class="error-message">
                                N'oublie pas de choisir un type d'envoi.
                            </p>

                        }

                    </div>

                }

            </div>


            <!-- ORDER BUTTON -->

            <button
                type="button"
                class="btn btn-primary-magenta"
                (click)="validateOrder()"
            >
                Passer la commande
            </button>

        </div>

    </div>


} @else {

    <!-- EMPTY ORDER -->
    <app-emptycart></app-emptycart>

}