<h1>RÉCAPITULATIF DE MA COMMANDE</h1>

@if (cart) {

    @for (
        item of cart.items;
        track item.productId._id
    ) {

        <div class="order-item">

            <p>
                {{ item.productId.name }}
            </p>

            <p>
                {{ item.productId.price | number:'1.2-2' }} €
            </p>

            <p>
                Quantité : {{ item.quantity }}
            </p>

        </div>

    }

    <div class="order-total">

        <strong>Total :</strong>

        <span>
            {{ getCartTotal() | number:'1.2-2' }} €
        </span>

    </div>
}

<input
  type="text"
  [(ngModel)]="customer.name"
  placeholder="Nom"
>

<input
  type="email"
  [(ngModel)]="customer.email"
  placeholder="Email"
>

<input
  type="tel"
  [(ngModel)]="customer.telephone"
  placeholder="Téléphone"
>


<div class="delivery-summary">

    <h2>Mode de livraison</h2>

    @if (selectedDelivery === 'hand_delivery') {

        <p>
            Livraison en main propre
        </p>

        <select [(ngModel)]="delivery.pickupPoint">
            <option value="">Choisir un point de rendez-vous</option>
            <option value="chatelet">Châtelet</option>
            <option value="porte_italie">Porte d'Italie</option>
            <option value="place_italie">Place d'Italie</option>
            <option value="madeleine">Madeleine</option>
        </select>

    }

    @if (selectedDelivery === 'mail_delivery') {

        <p>
            Livraison à domicile
        </p>

        <input
            type="text"
            [(ngModel)]="delivery.address"
            placeholder="Adresse"
        >

        <input
            type="text"
            [(ngModel)]="delivery.apartment"
            placeholder="Appartement"
        >

        <input
            type="text"
            [(ngModel)]="delivery.intercom"
            placeholder="Interphone"
        >

        <input
            type="text"
            [(ngModel)]="delivery.doorCode"
            placeholder="Code porte"
        >

    }

</div>

<button
    type="button"
    (click)="validateOrder()">

    Valider ma commande

</button>