<div class="empty-cart">

        <h1 class="empty-cart-title">Ton panier est vide pour le moment</h1>

        <div class="empty-cart-text">
            <p>
                Il n'y a encore aucun petit compagnon PéperTree dans ton panier.
            </p>

            <p>
                N’hésite pas à jeter un œil à la boutique et à découvrir les créations de PéperTree. ✨
            </p>

            <p>
                Une question ou besoin d’un petit coup de patte ? Tu peux m’écrire par e-mail au peper.atelier@gmail.com ou consulter la FAQ, je serai ravie de t’aider !
            </p>

            <img src="assets/panier-vide-pepertree.png" alt="Panier vide">

            <div class="go-to-shop-button">
                <a
                    routerLink="/boutique"
                    class="btn btn-primary-magenta"
                >
                    Découvrir la boutique
                </a>
            </div>
        </div>

    </div>